.mat-mdc-form-field {
    width: 100%;
}

table {
    .mat-column-position {
        width: 32px;
    }

    th, td {
        &:not(:last-child) {
            border-right: 1px solid var(--mat-table-row-item-outline-color);
        }
    }

    td {
        .flex-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
        }
    }
}